@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
body,
html {
  font-family: "Baloo Thambi 2", cursive;
  background-color: black;
  color: #b8c1ec;
  text-align: center;
  margin: 0;
}

.parallax-init {
  /* Set height and width*/
  height: 100vh;
  width: 100vw;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-bg1 {
  background-image: url("assets/wave1.svg");
}

.parallax-bg2 {
  background-image: url("assets/wave2.svg");
}

.parallax-bg3 {
  background-image: url("assets/wave3.svg");
}

.content {
  padding: 2rem;
  text-align: left;
  height: 100%;
}

footer {
  padding: 3rem;
}

footer a {
  text-decoration: none;
  color: hotpink;
}

footer a:hover {
  text-decoration: none;
  color: teal;
}
